* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Fraunces';
    font-weight: 400;

}

.main-section {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100%;
    height: 110vh;
    background: hsl(30, 38%, 92%);
    padding: 0 0.7rem 0 0.7rem;

}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


.product-card {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    max-width: 460px;
    min-width: 344px;
    height: auto;
    background: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    box-shadow: 2px 5px 10px gray;
}

.content-class {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 1rem;

}

p {
    font-size: 1rem;
    padding: 0 1.5rem 0 1.5rem;
    color: hsl(228, 12%, 48%);
    text-transform: capitalize;
}

.perfume {
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

h1 {
    margin: 0 1.5rem 0 1.5rem;
}

.price-class {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.price-class h1 {
    color: hsl(158, 36%, 37%);
}

.price-class h2 {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 14px;
}

.button-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-class button {
    background: hsl(158, 36%, 37%);
    width: 85%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
    transition: 0.25s ease-in;
    cursor: pointer;
}

.button-class button:hover {
    transform: scale(1.02);
}

.button-class button:focus {
    outline: 2px solid #2196f3;
    outline-offset: 2px;
    transform: scale(1.1);
}

.cart {
    margin-right: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
}


.attribution p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.6rem;
}

.attribution a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    transition: 0.25s ease;
}

.attribution a:focus {
    outline: 3px solid #2196f3;
    outline-offset: 3px;
    transform: scale(1.03);
}

@media screen and (min-width:540px) {

    .product-card {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 600px;
        height: auto;

    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .attribution {
        padding: 0.5rem;
    }

    .attribution p {
        font-size: 1rem;
    }


}